@import url("material-icons-sharp.css");

/* Material Icons */
.material-icons{
  position: relative;
  top: -1pt;
  /*padding-left: 2pt;*/
  vertical-align: middle;
}

/* COLOR VARIABLES*/
:root {
  --header-bg-color: rgb(13, 71, 161);
  --header-ft-color: rgb(255, 255, 255);
  --highlight-light: rgb(94, 146, 243);
  --highlight-dark: rgb(0, 60, 143);
  --accent-dim: rgb(224, 224, 224);
  --accent-super-dim: rgb(243, 243, 243);
  --font-color: rgb(52, 57, 62);
  --card-box-shadow: 0 1px 2px 0 rgba(61, 65, 68, 0.06), 0 1px 3px 1px rgba(61, 65, 68, 0.16);
  --search-box-shadow: 0 1px 2px 0 rgba(41, 45, 48, 0.36), 0 1px 3px 1px rgba(41, 45, 48, 0.46);
  --transition: 350ms;
}

body {
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

/* HIGHLIGHT COLOR */

button,
a {
  color: var(--highlight-dark);
  cursor: pointer;
}

button:hover,
button:focus,
a:hover,
a:focus {
  color: var(--highlight-light);
  text-decoration: none;
}

.toc-filter > input{
  width: 80%;
}

.toc .nav > li.active > a {
  color: var(--highlight-dark);
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  color: var(--highlight-light);
}

.pagination > .active > a {
  background-color: var(--header-bg-color);
  border-color: var(--header-bg-color);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: var(--highlight-light);
  border-color: var(--highlight-light);
}

/* HEADINGS */

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}
h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
}

h5 {
  font-size: 16px;
  line-height: 1.8;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
  margin-top: 35px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(221, 221, 221);
}

/* TABLES */
.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 0px;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
}

thead,th{
  font-family: 'Roboto Condensed',sans-serif;
}

/* NAVBAR */

.navbar-brand > img {
  color: var(--header-ft-color);
}

.navbar {
  border: none;
  /* Both navbars use box-shadow */
  -webkit-box-shadow: var(--card-box-shadow);
  -moz-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
}

.subnav {
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.navbar-inverse {
  background-color: var(--header-bg-color);
  z-index: 100;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text {
  color: var(--header-ft-color);
  background-color: var(--header-bg-color);
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
  transition: 350ms;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: var(--header-ft-color);
  background-color: var(--header-bg-color);
  border-bottom: 3px solid white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: var(--header-ft-color);
  background-color: var(--header-bg-color);
  border-bottom: 3px solid white;
}

.navbar-form .form-control {
  border: 0;
  border-radius: 4px;
  box-shadow: var(--search-box-shadow);
  transition:var(--transition);
}

.navbar-form .form-control:hover {
  background-color: var(--accent-dim);
}

/* NAVBAR TOGGLED (small screens) */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse .navbar-toggle {
  box-shadow: var(--card-box-shadow);
  border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: var(--highlight-dark);
}

/* SIDEBAR */

.toc .level1 > li {
  font-weight: 400;
}

.toc .nav > li > a {
  color: var(--font-color);
}

.sidefilter {
  background-color: #fff;
  border-left: none;
  border-right: none;
}

.sidefilter {
  background-color: #fff;
  border-left: none;
  border-right: none;
}

.toc-filter {
  padding: 5px;
  margin: 0;
  box-shadow: var(--card-box-shadow);
  transition:var(--transition);
}

.toc-filter:hover {
  background-color: var(--accent-super-dim);
}

.toc-filter > input {
  border: none;
  background-color: inherit;
  transition: inherit;
}

.toc-filter > .filter-icon {
  display: none;
}

.sidetoc > .toc {
  background-color: #fff;
  overflow-x: hidden;
}

.sidetoc {
  background-color: #fff;
  border: none;
}

/* ALERTS */

.alert {
  padding: 0px 0px 5px 0px;
  color: inherit;
  background-color: inherit;
  border: none;
  box-shadow: var(--card-box-shadow);
}

.alert > p {
  margin-bottom: 0;
  padding: 5px 10px;
}

.alert > ul {
  margin-bottom: 0;
  padding: 5px 40px;
}

.alert > h5 {
  padding: 10px 15px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

.alert h5:before {
  display:inline-block;
  font-family:'Material Icons Sharp';
  font-size: 24pt;
  vertical-align: text-bottom;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin-right: 5px;
  font-weight: normal;
}

.alert-info h5:before {
  content:"\e88e"
}

.alert-warning h5:before {
  content:"\e8b2"
}

.alert-danger h5:before {
  content:"\e160"
}

.IMPORTANT h5:before {
  content:"\e031"
}

.TIP h5:before {
  content:"\e925"
}

.alert-info > h5 {
  color: rgb(25, 118, 210);
  border-bottom: 4px solid rgb(25, 118, 210);
  background-color: rgb(227, 242, 253);
}

.alert-warning > h5 {
  color: rgb(245, 127, 23);
  border-bottom: 4px solid rgb(245, 127, 23);
  background-color: rgb(255, 243, 224);
}

.alert-danger > h5 {
  color: rgb(180, 20, 20);
  border-bottom: 4px solid rgb(180, 20, 20);
  background-color: rgb(255, 235, 238);
}

.TIP > h5{
  color: rgb(25, 140, 15);
  border-bottom: 4px solid rgb(25, 140, 15);
  background-color: rgb(235, 255, 236);
}

/* CODE HIGHLIGHT */
pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fffaef;
  border-radius: 4px;
  border: none;
  box-shadow: var(--card-box-shadow);
}

code {
  font-family: 'Roboto Mono', monospace;
}

kbd, pre, samp {
  font-family: 'Roboto Slab', monospace;
}

kbd {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

code, kbd {
	padding: 4px 8px;
	font-size: 90%;
}

/* STYLE FOR IMAGES */

.article .small-image {
  margin-top: 15px;
  box-shadow: var(--card-box-shadow);
  max-width: 350px;
}

.article .medium-image {
  margin-top: 15px;
  box-shadow: var(--card-box-shadow);
  max-width: 550px;
}

.article .large-image {
  margin-top: 15px;
  box-shadow: var(--card-box-shadow);
  max-width: 700px;
}

@media print {

/* ALERTS */
.NOTE, .WARNING, .TIP, .IMPORTANT, .CAUTION {
    padding: 0px 0px 5px 0px;
    color: inherit;
    background-color: inherit;
    border: none;
    box-shadow: var(--card-box-shadow);
}

.NOTE > p, .WARNING > p, .TIP > p, .IMPORTANT > p, .CAUTION > p {
    margin-bottom: 0;
    padding: 5px 10px;
}

.NOTE > ul, .WARNING > ul, .TIP > ul, .IMPORTANT > ul, .CAUTION > ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.NOTE > h5, .WARNING > h5, .TIP > h5, .IMPORTANT > h5, .CAUTION > h5 {
    padding: 10px 15px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.NOTE h5:before, .WARNING h5:before, .TIP h5:before, .IMPORTANT h5:before, .CAUTION h5:before {
    display:inline-block;
    font-family:"Material Icons Sharp" !important;
    font-size: 24pt;
    vertical-align: text-bottom;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    margin-right: 5px;
    font-weight: normal;
}

.NOTE h5:before {
  content:"\e88e"
}

.WARNING h5:before {
    content:"\e8b2"
}

.CAUTION h5:before {
    content:"\e160"
}

.IMPORTANT h5:before {
    content:"\e031"
}

.TIP h5:before {
    content:"\e925"
}

.NOTE > h5 {
    color: rgb(25, 118, 210);
    border-bottom: 4px solid rgb(25, 118, 210);
    background-color: rgb(227, 242, 253);
}

.WARNING > h5 {
    color: rgb(245, 127, 23);
    border-bottom: 4px solid rgb(245, 127, 23);
    background-color: rgb(255, 243, 224);
}

.IMPORTANT > h5 {
    color: rgb(180, 20, 20);
    border-bottom: 4px solid rgb(180, 20, 20);
    background-color: rgb(255, 235, 238);
}

.CAUTION > h5 {
    color: rgb(180, 20, 20);
    border-bottom: 4px solid rgb(180, 20, 20);
    background-color: rgb(255, 235, 238);
}

.TIP > h5{
    color: rgb(25, 140, 15);
    border-bottom: 4px solid rgb(25, 140, 15);
    background-color: rgb(235, 255, 236);
}

}