{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body>
    <article>
      {{!body}}
    </article>
    <script type="text/javascript" src="{{_rel}}styles/docfx.vendor.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/docfx.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/main.js"></script>
  </body>
</html>
